body {
    background-color: #f5f5f5;
}

#title {
    text-align: center;
}

#name {
    text-align: right;
}

motto {
    color: green;
}

img {
    width: 100px;
    border-radius: 50%;
}

#header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334455;
}

#header li {
    display: flex;
}

#header li a {
    color: #fff;
    padding: 5px 15px 5px 15px;
    margin: 2px 0 2px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #fff;
    color:#334455;
}

form label {
    display: block;
}

#content-wrap {
    display: flex;
}

#content {
    flex: 1 100%;
}

.page-block {
    display: none;
    background-color: white;
    padding: 24px;
    margin: 10px;
    box-shadow: 0 0 0 1px 
}